.container {
    max-width: 600px;
    padding: 0 2rem 2rem 2rem;
}

.article {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 0.7rem;
    height: 380px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 1.75rem;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    gap: 0.7rem;
    &Name {
        align-self: center;
    }
    &Avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.footer {
    margin-top: auto;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-top: auto;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    padding: 0.4rem;
    background: #00000002;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        border: 2px solid #acb9c2;
    }
}

