b,
i,
mark,
del,
ins {
  all: revert;
}

// React Quill
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  min-height: 200px;
}

.ql-container.ql-snow {
  border: 1px solid #d9d9d9;
}

.ql-toolbar.ql-snow {
  border: 1px solid #d9d9d9;
}

.ql-snow.ql-toolbar {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
  s {
    text-decoration: line-through;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  max-width: 1400px;
  margin: 0 auto;
}